repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: |
          (?x)^(
              .*\.md
          )$
    -   id: check-added-large-files
        exclude: |
          (?x)^(
              img/demo.gif
          )$
-   repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
    -   id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.7.1
  hooks:
   - id: mypy
     additional_dependencies: [
         "types-mock==5.0.*",
         "types-PyYAML==6.0",
         "types-toml~=0.10",
     ]
